.mainPage{
    margin-left: 12%;
    
    width:83%;

}
.checkList{
    position: relative;
    display: flex;
    flex-direction: column;
    width:  40%;
    height: 100vh;
    margin: auto;	
    
}
.headerElement{
    display:flex;
    position: sticky;
    top: 0;
    
}
.task-row{
    display: flex; 
    flex-direction: row;
    width: 90%;

}
.all-row{
    display: flex; 
    justify-content: space-between;
}

input[type="checkbox"]{
    opacity: 0;
    margin: 0;
    
}

input[type="checkbox"]+label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #4c4c4c;
    line-height: 25px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
    
}
input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 4;
    width: 15px;
    height: 15px;
    outline: 2px solid #aaa;
    background: #fff;
    border-radius: 20%;
}
input[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 4;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border-radius: 20%;
}
input[type="checkbox"]:checked + label::after{
    
    content: "";
    position: absolute;
    left: 0;
    top: 4;
    width: 18px;
    height: 18px;
    background-color: #00a7b5;
    background-image:url(../assets/Ok-icon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease-in;
    border-radius: 20%;
    
}
input[type="checkbox"]:not(:checked) + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 4;
    width: 18px;
    height: 18px;
    background-image:url(../assets/Ok-icon.png);
    background-size: contain;
    transform: scale(0);
    opacity: 0;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}
input[type="checkbox"]:checked ~ input[type="text"]{
    text-decoration: line-through;
}

.addTask{
    border-style: none;
    width: 88.5%;
    line-height: 25px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.addTask:focus{
    outline: none;
}

hr {
        width: 100%;
        border: 0;
        height: 1px;
        background: #000;
        opacity: 0.1;
    }

.all-row:has(.addTask:focus)+ hr{
        background: #00a7b5;
        opacity: 1;
}

.menuIcon{
    position: fixed;
    top: 3%;
    left: 30%;
    display: none;
}
