.navBar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background: #f8f8f8;
    

}
.profilePhoto{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 6vh;
    width: 6vh;
    place-items: center;
    border-radius: 100%;
    margin : auto;
    margin-top: 5vh;
}
.userName{
    color: black;
    font-size: 13px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
ul{
    padding-left: 0;
    margin-top: 5vh;
}
li{
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 1.5vh 1vw 0;
    border-radius: 10px;
    height: 5vh;
    align-items: center;
    color: black;
    font-size: 10px;
    cursor: pointer;
    
}


ul li a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li.active,li:hover{
    background: #e2e5e7;
}
.addNewList{
    border-color: rgba(0, 0, 0, .5);
    border-style: dotted;
    border-radius: 10px;
    border-width: 1.8px;

}
.addNewList:hover{
    background: white;
    border: solid 1px black;
}
.addListInput{
    width: 60%;
    font-size: 10px;
    background: #f8f8f8;
    border-style: none;
    height: 100%;
}
.addListInput:focus{
    background: #f8f8f8;
    outline: none;
}

.addListInput:hover{
    background: white;
    outline: none;
}